<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/fixture.css" />
    <link rel="manifest" href="/manifest.json" />
    <title>Fixture</title>
  </head>
  <body>
    <div class="content-wrapper"></div>
    <script defer src="/js/main.js"></script>
    <script src="/js/fixture-sse.js"></script>
  </body>
</html>
