<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Livescores</title>
  </head>
  <body>
    <div class="page-wrapper">
      <header></header>
      <main>
        <div class="table_wrapper"></div>
      </main>
      <footer></footer>
    </div>
    <script src="/js/livescores-sse.js"></script>
  </body>
</html>
